body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
}

.main-page-home {
    padding-top: 100px;
    min-height: calc(100vh - 100px);
    background-color: #222;
    display: flex;
}

.page-loading {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(12px);
    background: #000000b3;
    .loading-box {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        box-shadow: $card-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $back-color;
    }
}

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 180px;
    @media (max-width: 1344px) {
        margin-right: 32px;
        margin-left: 32px;
        max-width: calc(100% - 64px);
    }
    @media (max-width: 762px) {
        margin-right: 16px;
        margin-left: 16px;
        max-width: calc(100% - 32px);
    }
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    backdrop-filter: blur(4px);
    @media (max-width: 992px) {
        position: absolute;
    }
}
.header-content {
    margin-top: 23px;
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1350px) {
        max-width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }
    .header-left {
    }
    .header-center {
        ul {
            list-style: none;
            display: flex;
            li {
                margin-right: 15px;
                margin-left: 15px;
                a {
                    padding: 20px 15px;
                    color: #fff;
                    text-transform: uppercase;
                    font-family: $font-main;
                    font-size: 14px;
                    font-weight: bold;
                    text-decoration: none;
                    transition: all 0.3s;
                    &.active {
                        color: #8873ff;
                    }
                    &:hover {
                        color: #8873ff;
                    }
                }
            }
        }
        @media (max-width: 992px) {
            display: none;
        }
    }
    .header-right {
        display: flex;
        align-items: center;

        @media (max-width: 1400px) {
        }
        @media (max-width: 992px) {
            margin-right: 0;
        }
    }
}
.social-link {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        height: 50px;
        transition: all 0.3s;
        @media (max-width: 576px) {
            height: 30px;
        }
    }
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        img {
            filter: brightness(0.8);
        }
    }
}
.header-wallet {
    right: 23px;
    top: 38px;
    display: flex;
    @media (max-width: 992px) {
        display: flex;
        align-items: center;
        .mobile-menu {
            margin-left: 16px;
            z-index: 100;
        }
    }
}
main {
    background-color: #000;
    min-height: 100vh;
}
button {
    cursor: pointer;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .title {
        width: 30%;
        font-size: 18px;
    }
    .dec {
        width: 70%;
        color: $primary-color;
        font-size: 20px;
        span {
            margin-left: 10px;
            color: #acacac;
        }
    }
}
.dialog-content {
    .row {
        margin-bottom: 10px;
    }
}
.col-12 {
    width: calc(100% - 40px);
    margin-right: 20px;
    margin-left: 20px;
    @media (max-width: 992px) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
.col-half {
    width: calc(50% - 40px);
    margin-right: 20px;
    margin-left: 20px;
    @media (max-width: 992px) {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
.col-3 {
    width: calc(25% - 30px);
    margin-right: 15px;
    margin-left: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.pb-80 {
    padding-bottom: 80px;
}
.mobile-menu {
    display: none;
    @media (max-width: 992px) {
        display: block;
        button {
            margin-left: 16px;
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.mobile-nav {
    display: none;
    @media (max-width: 992px) {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        ul {
            li {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px 0;
                a {
                    font-family: $font-second;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.MuiOutlinedInput-notchedOutline {
    border-color: #fff3 !important;
}
.MuiSelect-select {
    color: #fff !important;
    font-family: $font-second !important;
}
.MuiSelect-icon {
    color: #fff3 !important;
}
.MuiTouchRipple-root {
    font-family: $font-second !important;
}
.MuiRadio-root {
    .MuiSvgIcon-root {
        fill: #fff !important;
    }
}
.MuiTypography-root {
    font-family: $font-main !important;
}
.MuiFormGroup-root {
    min-height: 56px !important;
}
.winner-address {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0;
}
.copy-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    .copied {
        color: $primary-color;
        font-weight: bold;
    }
}
.main-page {
    padding-top: 160px;
    min-height: calc(100vh - 160px);
    background-color: #222;
}
.list {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.btn-link {
    padding: 40px 80px;
    font-size: 32px;
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
    background-color: transparent;
    border: 4px solid #fff;
    &:hover {
        background-color: #fff2;
    }
}
.nft-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.media {
    width: 250px;
    height: 250px;
    padding: 5px;
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}
.nft-card {
    border: 2px solid #eee;
}
.nft-card-content {
    position: relative;
    .tier {
        position: absolute;
        right: 7px;
        top: 7px;
        font-size: 16px;
        color: #fff;
        padding: 5px;
        background-color: #48a1f5;
        border: 2px solid #fff;
        span {
            color: #000;
        }
    }
}
.card-content {
    .nft-name {
        color: $primary-color;
        font-size: 20px;
        padding: 10px;
    }
}
.btn-airdrop {
    width: 126px;
    height: 40px;
    background-color: #000;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 100px;
    position: absolute;
    top: 0px;
    left: -20px;
    display: flex;
    align-items: center;
    img {
        height: 28px;
        object-fit: contain;
    }
    span {
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
    }
    &:hover {
        background-color: #333;
    }
}
.btn-claim {
    width: 126px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 100px;
    margin-top: 8px;
    span {
        text-transform: uppercase;
        color: #000;
        font-size: 18px;
    }
    &:hover {
        background-color: #333;
        span {
            color: #fff;
        }
    }
    &:disabled {
        pointer-events: none;
        border-color: #666;
        span {
            color: #666;
        }
    }
}
.btn-airdrop-modal {
    width: 280px;
    height: 60px;
    background-color: $primary-color;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    transition: all 0.3s;
    img {
        height: 32px;
        object-fit: contain;
    }
    span.title {
        text-transform: uppercase;
        color: #fff;
        font-size: 24px;
        letter-spacing: 2px;
        margin-left: 10px;
        padding-top: 3px;
    }
    &:hover {
        background-color: #333;
    }
    &:disabled {
        background-color: #333;
        pointer-events: none;
    }
}
.header-logo {
    height: 64px;
}
.dialog-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    &:disabled {
        pointer-events: none;
    }
}
.claim-box {
    position: absolute;
    width: 100%;
    height: 130px;
    bottom: 0;
    left: 0;
    background: #ffffffe0;
    text-align: center;
}
.claim-box-line {
    padding: 10px 10px 0 10px;
    h4 {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        span {
            color: #fff;
            font-size: 16px;
            background-color: $primary-color;
            padding: 4px 8px;
            border-radius: 4px;
        }
    }
}
.day-progress {
    height: 20px;
    width: 100%;
    border: 2px solid #000;
    background-color: #ffb292;
    .day-line {
        background-color: $primary-color;
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-weight: 500;
            font-size: 12px;
        }
    }
}

.btn-all {
    font-size: 24px;
    padding: 8px 16px;
    border-radius: 50px;
    color: #fff;
    background-color: $primary-color;
    border: none;
    transition: all 0.3s;
    &:disabled {
        pointer-events: none;
        background-color: #333;
        color: #888;
    }
    &:hover {
        background-color: #943e1a;
    }
}
.top-info {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .item {
        margin-right: 30px;
        margin-bottom: 20px;
        &:last-child {
            margin-right: 0;
        }
        h1 {
            color: #fff;
            font-weight: 500;
            span {
                color: $primary-color;
                text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
            }
        }
    }
}
