.wallet-adapter-button {
    background-color: transparent !important;
    font-family: $font-main !important;
    text-transform: uppercase;
    border: 2px solid #fff !important;
    font-size: 18px !important;
    padding: 12px 16px !important;
    height: 36px !important;
}
.wallet-adapter-modal-list .wallet-adapter-button {
    border-color: transparent !important;
}

.no-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    h1 {
        color: #fff;
        font-size: 120px;
    }
    p {
        color: #ffffff80;
    }
    a {
        margin-top: 20px;
        text-transform: uppercase;
        color: $primary-color;
    }
}
